NODE_ENV=production
PORT=3000
HOST=127.0.0.1

DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
DATABASE_NAME=moneyshyft
DATABASE_USER=moneyshyft_app
DATABASE_PASSWORD=REPLACE_DB_PASSWORD
DATABASE_SSL_MODE=disable

FRONTEND_URL=https://money.shyftunity.com
COOKIE_DOMAIN=shyftunity.com

JWT_SECRET=REPLACE_JWT_SECRET
JWT_REFRESH_SECRET=REPLACE_JWT_REFRESH_SECRET

LOG_LEVEL=info
