NODE_ENV=production
PORT=3002
HOST=127.0.0.1

DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
DATABASE_NAME=moneyshyft
DATABASE_USER=moneyshyft_app
DATABASE_PASSWORD=REPLACE_DB_PASSWORD
DATABASE_SSL_MODE=disable

FRONTEND_URL=https://connect.shyftunity.com
COOKIE_DOMAIN=shyftunity.com

JWT_SECRET=REPLACE_JWT_SECRET
JWT_REFRESH_SECRET=REPLACE_JWT_REFRESH_SECRET

LOG_LEVEL=info

TELNYX_API_KEY=REPLACE_TELNYX_API_KEY
TELNYX_FROM_NUMBER=+12605550199
TELNYX_CONNECTION_ID=REPLACE_TELNYX_CONNECTION_ID
TELNYX_MESSAGING_PROFILE_ID=
TELNYX_PUBLIC_KEY=REPLACE_TELNYX_PUBLIC_KEY
TELNYX_API_BASE_URL=https://api.telnyx.com/v2

CONNECTSHYFT_ENABLED_PROVIDERS=telnyx
CONNECTSHYFT_PROVIDER_ROLLOUT_ALLOWLIST=
CONNECTSHYFT_WEBHOOK_SIGNATURE_MAX_AGE_SECONDS=300
